
div.hwrap {
    display: inline-block;
    padding: 0;
    margin: auto;
}

ul.fan {
	list-style-type: none;
}
ul.fan li {
	margin-left: -13px;
}
ul.hand {
	list-style-type: none;
    padding: 5px 10px 5px 15px;
    margin: 0;
}
.hand li, .fan li {
    display: inline-block;
    padding: 0;
}

ul.hand .card {
    margin-top: 14px;
}
.dense {
    margin-left: -5px; /* it gets bigger after move */
}

.hand-placeholder {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid cyan;
    width: 26px;
    height: 37px;
    margin: 0;
    padding: 0;
    margin-left: -5px; /* it gets bigger after move */
}

.card {
    background-color: white;
    border-radius: 3px;
    display: inline-block;
}
.cwrap {
    border: 0; padding: 0;
    font-size: 30px;
    width: 28px;
    margin-left: -3px;
    display: inline-block;
}

#tabletop {
    background-color: green;
    width: 80px;
    height: 60px;
    padding: 20px 10px;
    border: 2px solid white;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}

#table-contents {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}

#tt-deck,#tt-pile {
    display: inline-block;
    margin: 5px;
}

#other-players {
	display: inline-block;
	margin: auto;
	padding: 5px;
}

div.player-box {
	border: 1px solid black;
	display: inline-block;
	padding: 3px;
	margin: 1em 2px 2px 2px;
	position: relative;
	text-align: center;
}
.player-box .fan {
	display: inline-block;
	margin: auto;
}
span.player-name {
	display: inline-block;
	background-color: white;
	color: black;
	position: absolute;
	top: -0.7em;
	padding: 0.2em;
	border: 1px solid black;
}

div.active-player {
	border-color: red;
}

#my-player.drop-possible {
    border: 1px solid cyan;
}

#my-player {
    display: inline-block;
    padding: 10px;
    border: 1px solid white;
    background-color: white;
}

